﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Pub clássico e moderno, serve refeições">
    <meta name="Keywords" content="bares, pubs, pub com serviço de refeições, pub clássico, pub moderno">
    <meta name="author" content="cet 30">
    <title>Pub Marialva | @ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,400i,700i">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <header>
            <a href="#" class="logo">
                <img src="~/Content/Imagens/logo.png" alt="Logotipo Pub Marialva">
            </a>
            <br/>
            <nav class="main-navigation">
                <ul>
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Menu", "Menu", "Home")</li>
                    <li>@Html.ActionLink("Localização", "Local", "Home")</li>
                    <li>@Html.ActionLink("Reservas", "Reservas", "Home")</li>
                </ul>
            </nav>
        </header>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>
</body>
</html>
