﻿@{
    ViewBag.Title = "Localização";
}
<div class="local-page">

    <div class="landing">
        <h1>Local & Horas</h1>
        <p>O Pub Marialva localiza-se junto ao rio na Avenida das Descobertas 21, junto ao mercado. Parqueamento limitado disponível.</p>
    </div>

    <aside class="sidebar">
        <div class="info">
            <h3>Horário</h3>
            <ul>
                <li>Segundas 10h – 2h</li>
                <li>Terças 10h – 2h</li>
                <li>Quartas 10h – 2h</li>
                <li>Quintas 10h – 2h</li>
                <li>Sextas 10h – 4h</li>
                <li>Sábados 10h – 4h</li>
                <li>Domingos 10h – 2h</li>
            </ul>
        </div>
        <div class="info">
            <h3>Noticia Importante</h3>
            <p>Estaremos encerrados entre 12.24 – 12.30 para renovações.</p>
        </div>
    </aside>

</div>