﻿@model List<PubMarialva.Models.Menu>

@{
    ViewBag.Title = "Menu";
}
<div class="menu-page">

    <div class="landing">
        <h1>Menu</h1>
        <h2>Outono 2017</h2>
        <p>Os nossos menus são preparados sempre com ingredientes frescos e sabores locais. Os nossos menus varíam com as estações e com a disponibilidade dos ingredientes. Isso significa que nunca pagará ingredientes fora da temporada. Abaixo, poderá ver uma amostra de alguns dos pratos favoritos dos nossos clientes. As promoções variam diariamente e são publicadas, ou pode ligar antecipadamente para 21.678.987.</p>
    </div>

    <div class="gallery">
        <img src="~/Content/Imagens/prato-especial.jpg" alt="Prato Especial da Casa">
        <img src="~/Content/Imagens/escalopes.jpg" alt="Escalopes">
        <img src="~/Content/Imagens/salada.jpg" alt="Salada">
        <img src="~/Content/Imagens/filet.jpg" alt="Fillet">
    </div>

    <div class="info">
        <h3>Entradas</h3>
        <ul>
            @foreach (var item in Model)
            {
                 <li>@item.Entradas</li>
            }
        </ul>
    </div>

    <div class="info">
        <h3>Acompanhamentos</h3>
        <ul>
            @foreach (var item in Model)
             {
                <li>@item.Acompanhamentos</li>
             }
        </ul>
    </div>

    <div class="info">
        <h3>Pratos</h3>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Pratos</li>
            }
        </ul>
    </div>

</div>