﻿
@model PubMarialva.Models.Reserva
@{
    ViewBag.Title = "Reservas";
}

<div class="menu-page">

    <div class="landing">
        <h1>Faça a sua reserva</h1>
        <p>@DateTime.Now</p>
        <p>Preencha por favor o formulário de inscrição para fazer a sua reserva no nosso estabelecimento</p>
    </div>
    <br/>
   
    <div class="info">
        @using (Html.BeginForm())
         {
        <div class="reserva">
            <div>
                @Html.LabelFor(model => model.NomeCliente, "Nome")<br>
                @Html.EditorFor(model => model.NomeCliente, new { htmlAttributes = new { type = "text", placeholder = "NomeCliente" } })
            </div>
            <div>
                @Html.LabelFor(model => model.Data, "Data")<br>
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { type = "text", placeholder = "Data" } })
            </div>
            <div>
                @Html.LabelFor(model => model.Hora, "Hora")<br>
                @Html.EditorFor(model => model.Hora, new { htmlAttributes = new { type = "text", placeholder = "Hora" } })
            </div>
            <button type="submit" class="button_1">Enviar</button>
        </div>
          }
    </div>
    <br/>
</div>