﻿@charset "utf-8";

body {
    font-size: 19px;
    font-family: "alegreya SC", calibri, candara,"segoe UI", Optima, Arial, sans-serif;
    background: rgb(15,15,15);
    background-image: url('../Content/Imagens/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(226,226,226);
    padding: 2% 6% 6% 6%;
}

@media screen and (min-width: 750px) {

    body {
        font-size: 1.4em;
    }
}

header a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(67,67,67,0.17);
    color: rgb(180,180,180);
}

.container {
    background: rgb(15,15,15);
    background: rgba(15,15,15,0.74);
    padding: 30px;
}

h1, h2, h3 {
    font-family: "alegreya SC", Garamond, "Baskerville Old Face","Times New Roman", sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.3684em;
    line-height: 1.2558em;
    margin-top: 0.4219em;
    margin-bottom: 0;
    color: rgb(172,140,71);
}

h2 {
    font-size: 1.5em;
    line-height: 1.2558em;
    margin: 0.4219em auto 0.4219 auto;
}

h3 {
    font-size: 1.5263em;
    font-weight: normal;
    margin-top: 0.9310em;
    margin-bottom: 0;
}

p {
    font-size: 1em;
    line-height: 1.4211em;
    margin-top: 1.4211em;
    margin-bottom: 0;
    font-weight: 100;
    max-width: 700px;
}

li {
    font-weight: 100;
}

img {
    width: 100%;
}

a:link {
    color:white;
}

a:visited {
    color: rgb(100,81,41);
}

a:hover {
    color: rgb(224,182,90);
}

a:active {
    color: rgb(252,217,142);
}

.button {
    background-color: rgb(172,140,71);
    border-radius: 8px;
    max-width: 250px;
}

.button a {
    color: rgb(226,226,226);
    text-decoration: none;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 10px 0;
}

.button a:hover {
    background-color: rgb(119,97,48);
    border-radius: 8px;
    transition: 0.5s background-color;
}

.info h3 {
    border-bottom: 1px solid rgb(128,128,128);
}

.info p {
    font-style: italic;
}

.info ul {
    list-style: none;
    padding-left: 0;
}

/*------- logo styles ----------*/

.logo {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.logo img {
    width: 150px;
}

/*------- navigation ----------*/

.main-navigation ul {
   padding-left:0;
  
}

.main-navigation li {
    list-style: none;
    text-align: center;
    margin: 20px -30px;
    text-decoration: none;
    text-transform: uppercase;
    color:antiquewhite;
}

.gallery {
    margin-top: 30px;
}

.menu-page .info ul {
    font-style: italic;
}

.menu-page .info {
    float: none;
    text-align: center;
    max-width: 400px;
}

.menu-page .info {
    float: none;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.reserva input{
    width:90%
}

footer {
    padding: 10px 0;
    clear: both;
}

    footer h4 {
        text-transform: uppercase;
    }

    footer p {
        margin: 0;
    }



/*media query para ir ajustando as imagens da gallery*/

@media screen and (min-width:600px) {

    .gallery {
        width: 446px;
        margin-left: auto;
        margin-right: auto;
    }

        .gallery img {
            max-width: 220px;
        }
}

@media screen and (min-width:1050px) {

    .gallery {
        width: 567px;
        margin-left: auto;
        margin-right: auto;
    }

        .gallery img {
            max-width: 280px;
        }
}

    /*media query para colocar lado a lado .info*/
    @media screen and (min-width:1050px) {

        .info {
            float: left;
            width: 30%;
            margin-left: 3%;
        }
    }
    /*media query para centrar o texto de entrada*/
    @media screen and (min-width:750px) {

        .landing {
            text-align: center;
        }

            .landing p {
                margin-left: auto;
                margin-right: auto;
            }
    }
    /*media query para o menu principal*/
    @media screen and (min-width:750px) {

        .main-navigation {
            min-height: 100px;
            border-top: 1px solid rgb(36,36,36);
            border-bottom: 1px solid rgb(36,36,36);
        }

            .main-navigation ul {
                max-width: 950px;
                margin: 0 auto;
            }

            .main-navigation li {
                float: left;
                margin-left: -7px;
                width: 28%;
            }

            .main-navigation a {
                background: none;
            }

                .main-navigation a:hover {
                    background: none;
                }
    }
    /*media query para centrar a palavra menu*/
    @media screen and (min-width:880px) {

        .main-navigation ul {
            position: relative;
            right: -30px;
        }
    }
    /*media query para página local*/
    @media screen and (min-width:1050px) {
        .local-page .info {
            float: none;
            width: 100%;
        }

        .local-page .landing {
            float: left;
            text-align: left;
            width: 56%;
        }

        .local-page .sidebar {
            float: right;
            width: 30%;
        }
    }
